.mt-60{
    margin-top: 60px;
}
.profile {
    margin-top: 60px;
    /* background: #f3f5f7;  */
    padding: 24px 30px;
    
}
.box-update-info {
    display: flex;
}
.left-profile {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-profile{
    flex: 1;
}