.change-password {
    margin-top: 60px;
    padding: 24px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.change-password-content{
    width: 600px;
}
.change-password-title{
    margin-left: 200px;
}