.add-job{
    margin-top: 60px;
    padding: 32px;
}
.add-job-title{
    margin: 0 0 24px;
    text-align: center;
}
.add-job-form{
    margin: auto;
    width: 750px;
}

.add-job .btn-save{
    margin-right: 10px;
}