.list-job{
    margin-top: 60px;
    padding: 32px 112px;
    
} 
.list-job-title{
    margin: 0;
} 
.add-job-row{
    display: flex;
    justify-content: end;
}
.list-job .filter{
    margin-top: 20px;
    display: flex;
}
.list-job .filter-item{
    margin-right: 14px;
    flex : 1;
}
.popover-item{
    width: 300px;
}
.popover-item .btn-close-popover{
    margin-top: 16px;
    width: 100%;
}
/* .list-job .search-name {
    width: 300px;
} */
.list-job .job-table{
    margin-top: 24px;
}